  <div class="col-md-4">
  <div class="card" style="width: 18rem;" >
    <img src="..." class="card-img-top" alt="...">
    <div id="<%= dom_id flat %>" class="card-body">
      <p class="card-title">
        <strong><%= flat.name %></strong>
      </p>

      <p class="card-text">
        <%= flat.address %>
      </p>

      <p class="card-text">
        <%= flat.description %>
      </p>

      <p>
        <i class="fa-regular fa-sack-dollar"></i><%= flat.price_per_night %>
        <i class="fa-solid fa-people-line"></i><%= flat.number_of_guests %>
      </p>

        <p>
        <%= link_to "Show this flat", flat_path(flat), class: "btn btn-primary" %>
      </p>
    </div>
  </div>
  </div>
